*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}









#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background-color: #E3E6F3; */
   /* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06); */
   z-index: 999;
   position: sticky;
   left: 0;
 top: 0;
 /* padding: 10px; */
}


.mainsection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keftimag img{
    height: 80%;
    width: 80%;
}

.contentright{
    height: 7%;
    width: 70%;
}

.contentright  h2{
    font-size: 80px;
}

.mainsection{
    padding: 50px;
}

.parkingzone{
    background-color: grey;
    border-bottom: 2px black dashed;
    position: relative;
}
.parkingzone .zonelabel{
    padding: 2vh;
    font-size: 1.9vw;
    font-weight: 1000;
}
.parkingsection{
    padding: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.parkingsection .slot button{
    width: 12vw;
    height: 16vw;
    border: 2px rgb(0, 0, 0) solid;
    background-color: green;
}
.parkingsection .slot button:hover{
    scale: 1.2;
}
.driveway{
    height: 25vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.driveway .roadline{
    width: 90%;
    height: 3vh;
    display: flex;
    justify-content: space-around;
}
.driveway .roadline div{
    width: 10%;
    height: 100%;
    background-color: white;
}







/* =============================================================== */

.parkingzone .carup{
    /* width: 15vw;
    height: 15vw; */
    position: absolute;
    z-index: 1;
    /* left: 80vw;
    margin-top: 40%;
    transform: rotate(0deg); */
    animation: comecar 2s ;
}
@keyframes comecar{
    0%{left: 100vw;transform: rotate(90deg);margin-top: 20%;}
    70%{left: 4vw;transform: rotate(90deg);}
    80%{transform: rotate(180deg);margin-top: 20%;}
}

.check{
    width: 15vw;
    height: 15vw;
    background-color: aliceblue;
    left: 150px;
    top: 986.5px;
    position: absolute;
}